.pageHeading {
  margin: 0 0 1rem;
  /* From .page-heading */
}

.pageHeading h3 {
  font-size: 1.75rem;
  color: #343a40;
  font-weight: 700;
  /* From .page-heading h3 */
}

.pageContent {}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.leftColumn {
  flex: 0 0 75%;
  padding: 0 15px;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.rightColumn {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.statsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statsRow>div {
  flex: 0 0 25%;
  max-width: 24%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.chartRow {
  margin-bottom: 30px;
}

.commentsRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.visitCard {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 15px;
}

.commentsCard {
  flex: 0 0 66.667%;
  max-width: 66.667%;
  padding: 0 15px;
}

@media (max-width: 1550px) {
  .leftColumn {
    flex: 0 0 auto;
    width: 95%;
  }

  .rightColumn {
    flex: 0 0 100%;
    max-width: 95%;
  }

  .statsRow>div {
    flex: 0 0 50%;
    max-width: 47%;
  }

  .visitCard,
  .commentsCard {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1550px) {
  .leftColumn {
    width: 75%;
  }
}